/* actiux 1.0.1 - 17/02/2021
* par William Kiesele
* actimeo.fr
* MIT Licence : https://opensource.org/licenses/mit-license.php
*/

:root {
    --color-primary: #7045AA;
    --color-secondary: #41C8F2;
    --color-light-secondary: #e3fafc;
    --color-success: #37b24d;
    --color-info: #12a2d2;
    --color-warning: #f59f00;
    --color-danger: #f03e3e;
    --color-light-primary: #f3f0ff;
    --color-light-success: #ebfbee;
    --color-light-info: #e7f5ff;
    --color-light-warning: #fff9db;
    --color-light-danger: #fff5f5;
    --color-writing: #495057;
    --color-body: #fff;
    --color-light1: #f1f3f5;
    --color-light2: #e9ecef;
    --color-grey: #ced4da;
    --color-dark1: #212737;
    --color-dark2: #313747;
    --color-white: #fff;
    --color-black: #000;
    --color-focus: #5e50b225;
    --border: rgba(0, 0, 0, .2);
    --radius-xs: 4px;
    --radius-sml: 8px;
    --radius-med: 16px;
    --radius-lrg: 32px;
    --arrow-down: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z' fill='currentColor' /%3E%3C/svg%3E");
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*! base minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css 
+ opti WK | MIT License | */

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select, textarea {
    font-size: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a:focus {
    outline: 0
}

img, video {
    height: auto;
    max-width: 100%
}

iframe, fieldset {
    border: 0
}

/* Start */

html {
    font-size: 62.5%;
    line-height: 1.1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background: var(--color-body);
    color: var(--color-writing)
}

.container {
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Grille Flexbox */

.grid>* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-basis: 100%;
  
}

.grid {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.grid.no-gutter {
    margin: 0;
}

.grid.no-gutter>.col {
    padding: 0;
}

.col {
    padding: 1rem;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    max-width: 100%;
    position: relative;
}

.col-auto {
    flex-basis: 0;
    position: relative;
}

.col-fixed {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
}

.is-full-width {
    width: 100%!important;
    position: relative;
    margin-left: 0rem!important;
    margin-right: 0rem!important;
}

.is-flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.is-flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.is-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.is-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.is-space-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.is-align-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.is-align-bottom {
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.is-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.is-same-height>* {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 content;
    flex: 1 1 content;
}

.is-align-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}

.is-flex-middle, .vaf {
    display: flex;
    align-items: center;
}

/*  Breackpoints */

.xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.xs-2 {
    flex-basis: 16.66666666%;
    max-width: 16.66666666%;
}

.xs-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.xs-5 {
    flex-basis: 41.66666666%;
    max-width: 41.66666666%;
}

.xs-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.xs-8 {
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
}

.xs-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.xs-11 {
    flex-basis: 91.66666666%;
    max-width: 91.66666666%;
}

.xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.xs-order-first {
    order: -1;
}

.xs-order-1 {
    order: 1;
}

.xs-order-2 {
    order: 2;
}

.xs-order-3 {
    order: 3;
}

.xs-order-4 {
    order: 4;
}

.xs-order-5 {
    order: 5;
}

.xs-order-6, .xs-order-last {
    order: 6;
}

@media screen and (min-width: 688px) {
    .sml-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }
    .sml-2 {
        flex-basis: 16.66666666%;
        max-width: 16.66666666%;
    }
    .sml-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .sml-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }
    .sml-5 {
        flex-basis: 41.66666666%;
        max-width: 41.66666666%;
    }
    .sml-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .sml-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }
    .sml-8 {
        flex-basis: 66.66666666%;
        max-width: 66.66666666%;
    }
    .sml-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .sml-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }
    .sml-11 {
        flex-basis: 91.66666666%;
        max-width: 91.66666666%;
    }
    .sml-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .sml-order-first {
        order: -1;
    }
    .sml-order-1 {
        order: 1;
    }
    .sml-order-2 {
        order: 2;
    }
    .sml-order-3 {
        order: 3;
    }
    .sml-order-4 {
        order: 4;
    }
    .sml-order-5 {
        order: 5;
    }
    .sml-order-6, .sml-order-last {
        order: 6;
    }
}

@media screen and (min-width: 992px) {
    .med-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }
    .med-2 {
        flex-basis: 16.66666666%;
        max-width: 16.66666666%;
    }
    .med-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .med-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }
    .med-5 {
        flex-basis: 41.66666666%;
        max-width: 41.66666666%;
    }
    .med-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .med-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }
    .med-8 {
        flex-basis: 66.66666666%;
        max-width: 66.66666666%;
    }
    .med-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .med-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }
    .med-11 {
        flex-basis: 91.66666666%;
        max-width: 91.66666666%;
    }
    .med-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .med-order-first {
        order: -1;
    }
    .med-order-1 {
        order: 1;
    }
    .med-order-2 {
        order: 2;
    }
    .med-order-3 {
        order: 3;
    }
    .med-order-4 {
        order: 4;
    }
    .med-order-5 {
        order: 5;
    }
    .med-order-6, .med-order-last {
        order: 6;
    }
}

@media screen and (min-width: 1344px) {
    .lrg-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }
    .lrg-2 {
        flex-basis: 16.66666666%;
        max-width: 16.66666666%;
    }
    .lrg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .lrg-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }
    .lrg-5 {
        flex-basis: 41.66666666%;
        max-width: 41.66666666%;
    }
    .lrg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .lrg-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }
    .lrg-8 {
        flex-basis: 66.66666666%;
        max-width: 66.66666666%;
    }
    .lrg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .lrg-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }
    .lrg-11 {
        flex-basis: 91.66666666%;
        max-width: 91.66666666%;
    }
    .lrg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .lrg-order-first {
        order: -1;
    }
    .lrg-order-1 {
        order: 1;
    }
    .lrg-order-2 {
        order: 2;
    }
    .lrg-order-3 {
        order: 3;
    }
    .lrg-order-4 {
        order: 4;
    }
    .lrg-order-5 {
        order: 5;
    }
    .lrg-order-6, .lrg-order-last {
        order: 6;
    }
}

/**/

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

/* HIDE */

@media screen and (min-width: 0px) and (max-width: 479px) {
    .hide-xs-only {
        display: none !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 687px) {
    .hide-xs-sml {
        display: none !important;
    }
}

/* HIDE SML */

@media screen and (min-width: 480px) and (max-width: 687px) {
    .hide-sml-only {
        display: none !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
    .hide-xs-sml-med {
        display: none !important;
    }
}

/* HIDE MED */

@media screen and (min-width: 992px) and (max-width: 1343px) {
    .hide-med-only {
        display: none !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 1343px) {
    .hide-med {
        display: none !important;
    }
    .container {
        padding: 0 1.75rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: .75rem;
    margin-top: 0;
}

h1, .h1 {
    font-size: 4rem
}

h2, .h2 {
    font-size: 3.2rem
}

h3, .h3 {
    font-size: 2.8rem
}

h4, .h4 {
    font-size: 2.4rem
}

h5, .h5 {
    font-size: 2rem
}

h6, .h6 {
    font-size: 1.6rem
}

a {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: var(--color-info);
    text-decoration: none;
    cursor: pointer
}

button {
    font-family: inherit
}

p {
    margin-top: 0
}

ul {
    list-style-type: disc;
    padding: 1rem;
}

ol {
    padding: 1rem;
}

ul li, ol li {
    margin-left: 2rem
}

ul.nostyle, ul.nostyle ul {
    list-style-type: none;
}

blockquote {
    background-color: var(--color-light1);
    padding: 1.5rem 2rem;
    border-left: 5px solid var(--color-dark1);
    margin-top: 2rem;
    margin-bottom: 2rem
}

blockquote a {
    color: inherit;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: inherit;
    font-weight: 700;
}

blockquote a:hover {
    color: inherit;
    border-bottom-color: transparent;
}

.alert {
    margin: .75rem 0 .75rem 0;
    padding: 1.5rem 2rem
}

.alert {
    color: inherit;
}

.alert a {
    color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: inherit;
}

.alert a:hover {
    border-bottom: 1px solid transparent
}

dl dt {
    font-weight: bold
}

hr {
    border: 0;
    background-color: var(--color-grey);
    height: 1px;
    margin: 3.5rem
}

hr.no-border {
    height: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left
}

td, th {
    height: 3.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

tr {
    border-bottom: 1px solid;
    border-color: var(--color-light1)
}

tr:hover {
    background-color: var(--color-light1);
}

tr:nth-child(even) {
    background: var(--color-light1);
}

tr:nth-child(odd) {
    background: var(--color-white);
}

tr.is-center td {
    text-align: center;
}

code, kbd, pre, samp, tt {
    font-family: inherit;
}

code {
    background-color: #f7f8f9;
    color: var(--color-danger);
    padding: .25em .5em .25em;
    border-radius: 8px;
}

pre {
    margin: 2rem 0;
}

pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--color-danger);
    font-size: 1.5rem;
    line-height: 1.5;
    background: transparent
}

img {
    max-width: 100%
}

iframe {
    border: 0
}

select, input[type="submit"], input[type="button"], input[type="checkbox"], input[type="range"], input[type="radio"] {
    line-height: 1em;
    cursor: pointer;
    white-space: nowrap;
}

input:not([type="checkbox"]):not([type="radio"]), select, .db {
    display: block;
}

input, textarea, select, details>summary {
    font-family: inherit;
    font-size: inherit;
    position: relative;
    margin: .5rem .5rem .5rem 0;
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

select:not([multiple]) {
    background: var(--arrow-down) no-repeat;
    background-position: center right 1.25rem;
    padding: 1.25rem;
}

input[type="submit"], input[type="button"], input[type="reset"] {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    width: auto;
    background-color: var(--color-primary);
    color: var(--color-white);
}

input[type="submit"]:hover, input[type="button"]:hover {
    opacity: .9;
}

/* Buttons */

.button[disabled], .input[disabled], .select[disabled], .textarea[disabled], fieldset[disabled] {
    cursor: not-allowed
}

.button, [type="button"], [type="reset"], [type="submit"], button {
    padding: 1.25rem 2rem;
    color: var(--color-white);
    background: var(--color-primary);
    border: 1px solid transparent;
    line-height: 1;
    text-align: center;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin: .5rem .5rem .5rem 0;
    position: relative;
}

.button.is-clear {
    background-color: transparent;
    color: var(--color-primary)
}

.button.is-small {
    padding: .5rem .75rem
}

.button.is-medium {
    padding: .75rem 1.5rem
}

.button.is-large {
    padding: 2rem 4.5rem
}

.button.is-outline {
    background-color: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary)
}

.button.is-rounded, .is-rounded {
    border-radius: 32px
}

.button.icon-only {
    padding: 1rem
}

.button.is-disabled {
    opacity: .5;
    cursor: not-allowed
}

a.button, button a {
    color: var(--color-white);
}

button a:hover {
    color: var(--color-white);
}

a.button[class*="bg-light"] {
    color: var(--color-primary)
}

.button:hover:not(.is-outline), [type="button"]:hover:not(.tooltip), [type="reset"]:hover, [type="submit"]:hover, button:hover:not(.is-tooltip) {
    opacity: 0.85
}

.button.is-outline:hover {
    background-color: var(--color-light1)
}

input:not([readonly]):hover, select:not([readonly]):hover, textarea:not([readonly]):hover {
    border-color: rgba(100, 100, 100, .75)
}

input[type='checkbox']:active, input[type='radio']:active, input[type='submit']:active, input[type='button']:active, input[type='range']:active, button:active {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1))
}

input:focus, select:focus, textarea:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px var(--color-light-primary)
}

input.bd-dark:focus, select.bd-dark:focus, textarea.bd-dark:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .25)
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    width: 20px;
    min-width: auto;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    margin: 0;
    margin-right: 2px
}

input[type="radio"] {
    border-radius: 50%;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .4), inset 0 0 0 4px #fff
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background: var(--color-primary)
}

input[type="checkbox"]:checked::before {
    display: flex;
    justify-content: center;
    content: "✓";
    color: white;
    font-size: 1rem
}

input[type="range"] {
    padding: 0;
}

input[type="color"] {
    padding: 2px;
    width: 5rem;
    height: 2.5rem
}

input:disabled, select:disabled, button:disabled, textarea:disabled {
    cursor: not-allowed;
}

.section {
    padding: 3rem 0rem;
}

.section.is-small {
    padding: 1.5rem 0rem
}

.section.is-medium {
    padding: 6rem 0rem
}

.section.is-large {
    padding: 12rem 0rem
}

.section.is-extra-large {
    padding: 24rem 0rem
}

.section.is-fullh {
    width: 100%;
    min-height: 100vh
}

.section h1 {
    padding: 0;
    margin: 0
}

/* BOX */

.box {
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 1px solid var(--color-light-primary);
    -webkit-box-shadow: 0 0 15px var(--color-light-primary);
    box-shadow: 0 0 15px var(--color-light-primary)
}

.box .content {
    padding: 1rem
}

.box p:last-child {
    margin: 0
}

.box header>* {
    margin-top: 0;
    margin-bottom: 1rem
}

.box.best {
    transform: scale(1.05);
}

/* HELPER */

.inline {
    display: inline-flex;
    justify-self: flex-start;
    margin: .5rem 1rem .5rem 0;
}

.lh1 {
    line-height: 1;
}

.vaf {
    /* vertical align flex center */
    display: flex;
    align-items: center;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.clearfix {
    content: "";
    display: table;
    clear: both
}

/* Background colors */

.bg-primary {
    background-color: var(--color-primary)!important
}

.bg-secondary {
    background-color: var(--color-secondary)!important
}

.bg-info {
    background-color: var(--color-info)!important
}

.bg-success {
    background-color: var(--color-success)!important
}

.bg-warning {
    background-color: var(--color-warning)!important
}

.bg-danger {
    background-color: var(--color-danger)!important
}

.bg-light-primary {
    background-color: var(--color-light-primary)!important
}

.bg-light-secondary {
    background-color: var(--color-light-secondary)!important
}

.bg-light-info {
    background-color: var(--color-light-info)!important
}

.bg-light-success {
    background-color: var(--color-light-success)!important
}

.bg-light-warning {
    background-color: var(--color-light-warning)!important
}

.bg-light-danger {
    background-color: var(--color-light-danger)!important
}

.bg-light1 {
    background-color: var(--color-light1)!important
}

.bg-light2 {
    background-color: var(--color-light2)!important
}

.bg-dark1 {
    background-color: var(--color-dark1)!important
}

.bg-dark2 {
    background-color: var(--color-dark2)!important
}

.bg-white {
    background-color: var(--color-white)!important
}

.bg-black {
    background-color: var(--color-black)!important
}

.bg-primary, .bg-secondary, .bg-info, .bg-success, .bg-warning, .bg-danger, .bg-black, .bg-dark1, .bg-dark2 {
    color: white;
}

[class*="bg-light"].button, [class*="bg-light"] {
    color: inherit;
}

/**/

.text-primary {
    color: var(--color-primary)!important
}

.text-secondary {
    color: var(--color-secondary)!important
}

.text-success {
    color: var(--color-success)!important
}

.text-info {
    color: var(--color-info)!important
}

.text-warning {
    color: var(--color-warning)!important
}

.text-danger {
    color: var(--color-danger)!important
}

.text-writing {
    color: var(--color-writing)!important
}

.text-light1 {
    color: var(--color-light1)!important
}

.text-light2 {
    color: var(--color-light2)!important
}

.text-grey {
    color: var(--color-grey)!important
}

.text-dark1 {
    color: var(--color-dark1)!important
}

.text-dark2 {
    color: var(--color-dark2)!important
}

.text-white {
    color: var(--color-white)!important
}

.text-black {
    color: var(--color-black)!important
}

.text-white-trs {
    color: rgba(255, 255, 255, .6);
}

.text-black-trs {
    color: rgba(0, 0, 0, .25);
}

a.link-white {
    color: var(--color-white)!important
}

a.link-white:hover {
    opacity: .8
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.text-uppercase {
    text-transform: uppercase
}

.text-lowercase {
    text-transform: lowercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-normal {
    text-transform: none
}

.o-hidden {
    overflow: hidden;
}

.is-full-screen {
    width: 100%;
    min-height: 100vh
}

/**/

.text-normal {
    font-style: normal
}

.text-italic {
    font-style: italic
}

.text-uppercase {
    text-transform: uppercase
}

.fs-l {
    font-size: 5rem!important
}

.fs-xl {
    font-size: 6rem!important
}

.fs-xxl {
    font-size: 8rem!important
}

.fs-xxxl {
    font-size: 10rem!important
}

.fs-1 {
    font-size: 4rem!important
}

.fs-2 {
    font-size: 3rem!important;
}

.fs-3 {
    font-size: 2.6rem!important
}

.fs-4 {
    font-size: 2rem!important
}

.fs-5 {
    font-size: 1.6rem!important
}

.fs-6 {
    font-size: 1.4rem!important
}

.fs-small {
    font-size: 1.2rem!important
}

@media screen and (min-width:0px) and (max-width:688px) {
    .fs-lrg-mob {
        font-size: 4rem!important
    }
    .fs-med-mob {
        font-size: 2.5rem!important
    }
    .fs-sml-mob {
        font-size: 2rem!important
    }
    .fs-xs-mob {
        font-size: 1.5rem!important
    }
}

/**/

.fw-100 {
    font-weight: 100!important
}

.fw-200 {
    font-weight: 200!important
}

.fw-300 {
    font-weight: 300!important
}

.fw-400 {
    font-weight: 400!important
}

.fw-500 {
    font-weight: 500!important
}

.fw-600 {
    font-weight: 600!important
}

.fw-700 {
    font-weight: 700!important
}

.fw-800 {
    font-weight: 800!important
}

.fw-900 {
    font-weight: 900!important
}

/* img */

img.is-rounded {
    border-radius: 100%
}

img.is-cover {
    -o-object-fit: cover!important;
    object-fit: cover!important;
    width: 100%;
    height: 100%
}

a:hover img {
    opacity: .9;
}

/* bg image */

.is-center-cover {
    width: 100%;
    background-position: 0 50%;
    background-size: cover
}

.is-top-cover {
    width: 100%;
    background-position: 0 0;
    background-size: cover
}

.is-bottom-cover {
    width: 100%;
    background-position: 0 100%;
    background-size: cover
}

.is-shadow {
    -webkit-box-shadow: 0 0 16px var(--color-light-primary);
    box-shadow: 0 0 16px var(--color-light-primary)
}

.content p {
    padding: 1rem 0
}

.content ul li {
    padding: .5rem 0;
}

/* Radius */

.bd-rad-xs {
    border-radius: var(--radius-xs)
}

.bd-rad-sml {
    border-radius: var(--radius-sml)
}

.bd-rad-med {
    border-radius: var(--radius-med)
}

.bd-rad-lrg {
    border-radius: var(--radius-lrg)
}

/* Margin / Padding */

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml20 {
    margin-left: 20px
}

.ml40 {
    margin-left: 40px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr20 {
    margin-right: 20px
}

.mr40 {
    margin-right: 40px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt20 {
    margin-top: 20px
}

.mt40 {
    margin-top: 40px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb20 {
    margin-bottom: 20px
}

.mb40 {
    margin-bottom: 40px
}

.m5 {
    margin: 5px
}

.m10 {
    margin: 10px
}

.m20 {
    margin: 20px
}

.m40 {
    margin: 40px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl20 {
    padding-left: 20px
}

.pl40 {
    padding-left: 40px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr20 {
    padding-right: 20px
}

.pr40 {
    padding-right: 40px
}

.pt5 {
    padding-top: 10px
}

.pt10 {
    padding-top: 10px
}

.pt20 {
    padding-top: 20px
}

.pt40 {
    padding-top: 40px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pb40 {
    padding-bottom: 40px
}

.p5 {
    padding: 5px
}

.p10 {
    padding: 10px
}

.p20 {
    padding: 20px
}

.p40 {
    padding: 40px
}

.m0 {
    margin: 0
}

.ml0 {
    margin-left: 0
}

.mr0 {
    margin-right: 0
}

.mt0 {
    margin-top: 0
}

.mb0 {
    margin-bottom: 0
}

.p0 {
    padding: 0
}

.pl0 {
    padding-left: 0
}

.pr0 {
    padding-right: 0
}

.pt0 {
    padding-top: 0
}

.pb0 {
    padding-bottom: 0
}

.pm0 {
    padding: 0;
    margin: 0
}

/* NAVBAR */

.nav-container { 
    background: var(--color-dark2);
}

#navbar ul li {
    margin-left: 0;
    text-align: left;
}

#navbar ul {
    list-style: none;
}

#navbar li {
    color: var(--color-white);
    display: inline-block;
    padding: 1.5rem;
    position: relative;
}

#navbar ul li a, #navbar ul li span {
    color: var(--color-white);
    text-decoration: none;
}

#navbar ul li:hover {
    background: var(--color-dark1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#navbar ul li:hover a {
    color: var(--color-white);
}

#navbar ul li ul, #navbar ul li span+ul {
    display: none;
    z-index: 10000;
}

#navbar ul li:hover, #navbar span:hover {
    cursor: pointer;
}

#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 280px;
    margin-top: 1.25rem;
    -webkit-box-shadow: 8px 8px 24px rgba(10, 10, 10, .1);
    box-shadow: 8px 8px 24px rgba(10, 10, 10, .1);
    background: var(--color-dark1);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    animation: fadein .25s ease-in-out;
}

#navbar ul li:hover ul li {
    display: block;
    background: var(--color-dark1);
    color: var(--color-primary);
}

#navbar ul li:hover ul li a {
    text-decoration: none;
    padding: 1rem;
    color: var(--color-white);
    display: block;
    position: relative;
}

#navbar ul li ul li {
    padding: 0rem;
}

#navbar ul li ul li:hover {
    background: var(--color-primary);
    border-radius: 0px;
}

#navbar li ul li.active a {
    border-left: 4px solid var(--color-primary);
    background: var(--color-dark2);
}

#navbar span.group:after {
    display: inline-block;
    content: '\00a0\00a0•';
    font-size: 1em;
    color: var(--color-info);
}

#navbar ul li:hover ul li:hover a {
    color: var(--color-white);
}

#navbar li.active a, #navbar span.active {
    color: var(--color-white);
}

.navbar-responsive {
    display: none;
}

@media (max-width: 992px) {
    .navbar-responsive {
        display: block;
        text-align: right;
        padding: 1rem .5rem 1rem 0rem;
        cursor: pointer;
    }
    #navbar-change {
        display: none;
    }
    #navbar-change.visible {
        display: block;
        padding-bottom: 1rem;
    }
    #navbar ul li {
        display: block;
        text-align: left;
    }
    #navbar ul li:hover ul {
        width: 100%;
        position: relative;
    }

    #navbar .button {
        float: left;
    }
}

/* svg */

.svg {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: text-top;
}

.svg-16 {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: text-top;
}

/* Toutes les règles pour les petits mobiles en dessous de 480px */

@media screen and (min-width: 0px) and (max-width: 479px) {
    .col-auto {
        flex-basis: 100%;
    }
    .inline {
        display: block;
    }
    .on-mobile-center {
        text-align: center;
    }
}